.login-screen {
  --background-color: #e0e0e0;
  --primary-color: #6200ee;
  --white-color: #ffffff;
  --gray-color: #5d5b5b;

  --mdc-outlined-text-field-container-shape: 10px !important;

  margin: 0;
  padding: 0;
  position: relative;
  height: 100dvh;
  width: 100dvw;

  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gray-color);

  mat-form-field {
    margin: 10px;
    flex-direction: row;
    background-color: var(--white-color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  
}
